<!-- header -->
<header>
    <div class="box">
        <div class="blue-logo-box">
            <div class="blue-logo">
                <p class="line-clip"></p>
                <div class="text-blue">
                    <p b>B</p>
                    <p l>L</p>
                    <p u>U</p>
                    <p e>E</p>
                </div>
            </div>
        </div>
        <div class="text-go-blog">
            <p>blog</p>
            <p class="line"></p>
            <div class="arrow">
                <span></span>
            </div>
        </div>
    </div>
</header>
<article>
    <div class="x-animate">
        X
    </div>
    <div class="art-list">
        <div ng-repeat="list in lists"> 
            <div class="time-line" ng-bind-html="list.time|to_trusted ">
            </div>
            <ul>
                <li ng-repeat="cell in list.cells">
                    《<p nav-to="/content/{{cell.title}}">{{cell.title}}</p>》
                    <div>
                       Tag:
                       <span title="{{tag}}" ng-repeat="tag in cell.tags">&nbsp;{{tag}}&nbsp;</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</article>
<footer>
    Copyrights © 2016 <a href="http://www.mynameisblue.com" target="_blank">Bluezhan</a>' Blog™, All Rights Reserved.
</footer>